.venv/
data/
*.csv
*.txt
!requirements.txt
.idea
*.mat
*.html
*.png
.repo
*.npy
*.zip
images/
public_solutions/
!chimpanzee_train.txt
!dna_test.txt
!dog_train.txt
!human_train.txt
mcq_finetuned_model/
trainer_output/